@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: 400 15px Roboto;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}

label {
  cursor: pointer;
}

input {
  outline: none;
}

body {
  height: 100%;
}

.wrapper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.menu a:hover {
  color: red;
}

.main-screen__price a:hover, .main-screen__contacts a:hover {
  color: red;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  z-index: 2;
}

.container {
  max-width: 1500px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: content-box;
}

.header__row {
  height: 100px;
  position: relative;
}

.header__content {
  padding: 0 60px;
}

.header__logo {
  display: block;
  color: #000;
  font-size: 30px;
  position: relative;
  z-index: 3;
}

.flx {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flxc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  position: relative;
  z-index: 2;
  text-align: center;
}

.menu__li:last-child {
  padding-right: 0;
}

.menu__link {
  display: block;
  color: #000;
  font-size: 18px;
}

.header__menu li {
  padding-right: 44px;
}

.header__contacts {
  padding-left: 60px;
}

.header__contacts li {
  padding-right: 30px;
}

.btn-reserve {
  position: relative;
  z-index: 2;
  display: block;
  width: 190px;
  height: 52px;
  line-height: 52px;
  font-size: 18px;
  border-radius: 3px;
  background-color: #f52b2b;
  text-align: center;
  color: #fff;
}

.burger {
  display: none;
}

.main-screen__head {
  width: 100vw;
  margin: 0 auto;
  margin-top: 100px;
}

.main-screen__content {
  height: 100vh;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.main-screen__title {
  color: #fff;
  font-family: "Playfair Display";
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.main-screen__btn {
  margin-top: 75px;
}

.main-screen__gallery {
  text-align: center;
  margin: 45px auto;
}

.main-screen__subtitle {
  color: #000;
  font-size: 30px;
}

.slider {
  min-width: 0;
  position: relative;
  margin: 0 70px;
  padding-top: 16px;
}

.slick-slide {
  padding: 0 20px;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .slick-dots li {
  list-style: none;
  padding-right: 10px;
}

.slider .slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #707070;
}

.slider .slick-dots li.slick-active button {
  background-color: #707070;
}

.slider .slick-arrow {
  font-size: 0;
  width: 50px;
  height: 50px;
  box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #000;
  position: absolute;
  top: 50%;
  z-index: 10;
}

.slider .slick-arrow::before {
  position: absolute;
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  background-color: transparent;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  top: 38%;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  transform: translateY(-50%) translateX(-110%);
}

.slider .slick-arrow.slick-prev::before {
  transform: rotate(135deg);
  left: 41%;
}

.slider .slick-arrow.slick-next {
  right: 0;
  transform: translateY(-50%) translateX(110%);
}

.slider .slick-arrow.slick-next::before {
  transform: rotate(-45deg);
  left: 34%;
}

.slick-list {
  overflow: hidden;
  /*box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);*/
}

.slick-track {
  display: flex;
}

.main-screen__info {
  background-color: #f7f4f4;
}

.main-screen__container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 40px 15px;
  box-sizing: content-box;
}

.main-screen__info p, .main-screen__info li, .main-screen__info span {
  color: #000;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 10px;
}

.main-text {
  text-transform: uppercase;
}

.main-screen__price {
  max-width: 890px;
  padding: 0 15px;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
}

.price {
  justify-content: center;
}

.price span {
  padding-right: 5px;
}

.price span:last-child {
  padding-right: 0px;
}

.main-screen__price div {
  padding: 30px 0;
}

.main-screen__contacts {
  max-width: 890px;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.16);
  padding: 0 15px;
  box-sizing: content-box;
  text-align: center;
  margin: 60px auto;
}

.title {
  color: #000;
  font-size: 26px;
  font-weight: 500;
  padding-top: 16px;
}

.main-screen__contacts div {
  margin-top: 36px;
}

.main-screen__contacts div p {
  padding-bottom: 10px;
}

.main-screen__contacts div a, .main-screen__contacts p, .main-screen__price span, .main-screen__price a, .main-screen__price p {
  color: #000;
  font-size: 21px;
  font-weight: 500;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}

.ibg > img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

#contacts, #price {
  padding-top: 100px;
  margin-top: -100px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}

@media (max-width: 1530px) {
  .header__contacts {
    padding-left: 20px;
  }

  .header__content {
    padding: 0 20px;
  }

  .header__menu li {
    padding-right: 15px;
  }

  .header__contacts li {
    padding-right: 15px;
  }
}
@media (max-width: 1340px) {
  .header__contacts {
    flex-direction: column;
  }

  .header__contacts li {
    padding: 0 0 5px 0;
  }
}
@media (max-width: 768px) {
  .slider {
    margin: 0 15px;
  }
}
@media (max-width: 800px) {
  body.lock {
    overflow: hidden;
  }

  #contacts, #price {
    padding-top: 70px;
    margin-top: -70px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
  }

  .header__btn.btn-reserve {
    display: none;
  }

  .header__row {
    height: 70px;
  }

  .main-screen__head {
    margin-top: 70px;
  }

  .main-screen__title {
    font-size: 30px;
  }

  .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #707070;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: #707070;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__content {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: auto;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: #f3f3f3;
  }

  .header__content.active {
    top: 0;
    flex-direction: column;
    justify-content: flex-start;
    padding: 80px 0 80px 0;
  }

  .header__content.active .menu {
    flex-direction: column;
    justify-content: flex-start;
  }

  .header__content.active .menu li {
    padding: 0 0 25px 0;
  }

  .header__content.active .header__contacts {
    padding: 20px 0 0 0;
  }

  .header__list {
    display: block;
  }

  .header__list li {
    margin: 0px 0px 20px 0px;
  }

  .header__link {
    font-size: 24px;
  }
}
@media (max-width: 480px) {
  .main-screen__title {
    font-size: 24px;
  }
}
.footer {
  background-color: #333333;
  text-align: center;
}

.footer a {
  color: #fff;
  font-size: 40px;
}

.footer__subtitle {
  opacity: 0.45;
  color: #fff;
  font-size: 14px;
  font-weight: 100;
}

.footer div p {
  color: #fff;
  font-size: 16px;
}

.footer div a {
  font-size: 16px;
}

.footer__contacts {
  padding: 24px 0;
}

.footer__contacts p:first-child {
  padding-bottom: 15px;
}
