.footer {
	background-color: #333333;
	text-align: center;
}

.footer a{
	color: #fff;
	font-size: 40px;
}
.footer__subtitle{
opacity: 0.45;
color: #fff;
font-size: 14px;
font-weight: 100;
}
.footer div p {
	color: #fff;
	font-size: 16px;
}
.footer div a{
	font-size: 16px;
}
.footer__contacts{
padding:24px 0;
}
.footer__contacts p:first-child {
	padding-bottom:15px;
}
